<section>
  <div class="hukidasi">
    <h1>Tadoryo9とは？</h1>
    <p>
      Tadoryo9は多動力を調べるアプリです。<br class="sp-none">
      指定した期間のFacebookの投稿の位置情報を<br class="sp-none">
      時系列順にルートの形でGoogleマップ上に表示させます。<br class="sp-none">
      またチェックインの数と移動した距離を算出します。<br>
      あなたの多動力。調べてみませんか？
    </p>
  </div>
  <img class="person" src="person.png" alt="person">

</section>
