<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><h3>Tadoryo9</h3></a>
  <% if session[:access_token] %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-white">
        【<%= @since_time %>】  - 【<%= @until_time %>】
      </li>
    </ul>
    <div class="mt-2 mt-md-0">
      <form action="/index" method="get" class="form-inline">
        <div class="input-group m-2">
          <input class="form-control" type="date" name="since_time">
          <input class="form-control" type="date" name="until_time">
        </div>
        <button class="btn btn-outline-success m-2" type="submit">Search</button>
        <a class="btn btn-outline-success" href="/reload">Reload</a>
      </form>
    </div>
    <% end %>
  </div>
</nav>
