@charset "UTF-8";

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.top {
  text-align: center;
  margin-top: 50px;
}

.top h1 {
  font-size: 50px;
}

.top img {
  display: block;
  margin: 50px auto;
  width: 80%;
}

.login {
  display: block;
  width: 250px;
  margin: auto;
  border: solid black 10px;
  text-decoration: none;
  color: black;
  font-size: 50px;
  font-weight: bold;
}

@media (min-width: 768px){
  .top {
    text-align: center;
    margin-top: 50px;
  }

  .top h1 {
    font-size: 50px;
  }

  .top img {
    display: block;
    margin: 50px auto;
    width: 30%;
  }

  .login {
    display: block;
    width: 250px;
    margin: auto;
    border: solid black 10px;
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-weight: bold;
  }
}
